*.log
.env
composer.phar
composer.lock
.DS_Store
Thumbs.db
/.idea
/.vscode
/vendor
/.settings
/.buildpath
/.project

# Runtime
/runtime/route_list.php
/runtime/session/
/runtime/temp/
/runtime/log/
/runtime/cache/
*.sqlite
server.log